<<<<<<< HEAD
<section class="error-page d-flex flex-column align-items-center justify-content-center">
<h1 class="error-msg mb-5">It seems like this recipe is overcooked...</h1>
<h2>{{error.status}}</h2>
=======
<h1>It seems like the chef </h1>
<img src="" alt="">

>>>>>>> 711202f9de63f3163bfb59cc53fd30f94f429450

<pre>

<<<<<<< HEAD
{{!-- <h1>{{error.stack}}</pre> --}}
</section>
=======
<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
>>>>>>> 711202f9de63f3163bfb59cc53fd30f94f429450
