<h1>Private</h1>
<p>This page should only be accessible to authenticated users.</p>
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br>
<a class="btn" href="/">Search for some recipe!</a>

<img src="{{user.picture}}" alt="">
{{user._id}}
<a class="btn" href="/{{user._id}}/edit">Edit profile</a>
<form action="/{{user._id}}/delete" method="POST"><button class="btn delete">Delete your account</button></form>