
<div class="col-lg-4 col-md-5 col-12 d-flex justify-content-md-between justify-content-sm-around p-0 ">
<div class="card border-0 mx-auto">
  <img src="{{recipe.image}}" class="card-img-top rounded-bottom" alt="{{recipe.label}}">
  <p class="percentage rounded-right">{{ percentage }}%</p>
  <div class="card-body px-0 pt-4">
    <h4 class="card-title pb-4">{{recipe.label}}</h4>
    <a href="/recipe/{{ getID recipe.uri }}" >View Recipe</a>
  </div>
</div>
</div>





