<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body class="bodyHome">

    <nav class="container navbar navbar-expand-lg navbar-light" style="background-color: rgba(0,0,0,0);">

      <a class="navbar-brand" href="/">
        <img style="width:auto;height:1.5em"src="/images/Home/masterlara.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end align-itens-center" id="navbarNav">

        <ul class="navbar-nav">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/private">Hi, {{user.name}}!</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/">Search</a>
          </li>

           <li class="nav-item">
             <form class="signout" action="/authentication/sign-out" method="POST">
              <button>Sign Out</button>
            </form>
           </li>
          {{else }}



          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-in">Sign In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-up">Sign Up</a>
          </li>

          {{/if}}


          

        </ul>
      </div>
    </nav>
    
    {{!-- <nav class="home-nav" style="background-color: rgba(0,0,0,0);">
       
        <img style="width:auto;height:1.5em"src="/images/Home/masterlara.png" alt="">

          {{#if user}}
          <a href="/private">Hi, {{user.name}}!</a>
          <a href="/">Search</a>
          <form action="/authentication/sign-out" method="POST">
            <button>Sign Out</button>
          </form>
          {{else}}
          <a href="/authentication/sign-in">Sign In</a>
          <a href="/authentication/sign-up">Sign Up</a>
          {{/if}}
       
    </nav> --}}

   
    

<header class="d-flex justify-content-start header">
  {{!-- <img class="bg-img p-5" src="" alt=""> --}}

  <div class="container">
    <!--ROW-->
    <div class="row">
      <!--COL-->
      <div class="col-md-7 col-sm-12">
        {{> description}}
      </div><!--COL-->

    </div><!--ROW-->

    <div class="row">
      <div class="col-md">
        {{#if user}}

          <form class="formHome" action="/recipe/search/">
            <p>Type here every ingredient you have separated by spaces:</p>
            
            <div class="d-flex justify-content-between align-items-center">
              <input style="width: 55%;" class="rounded-pill" type="text" id="item" name="item" placeholder="IE: carrot onion garlic cheese banana">
              <button type="button" class="btn btn-primary btn-sm rounded-pill">Search the perfect recipe</button>
            </div>

          </form>
      
        {{/if}}

      </div>

    </div>
  </div>

  
</header>

    <script src="/scripts/script.js"></script>
  </body>
</html>