<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ana Flavia Foppa e Aline Pasetti">


    <!-- Favicon and touch icons  -->
    <link href="/images/favicon.png" rel="apple-touch-icon" sizes="48x48">
    <link href="/images/apple-touch-icon-32-precomposed.png" rel="apple-touch-icon-precomposed">
    <link href="/images/favicon.png" rel="shortcut icon">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Master Lara</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    {{!-- <nav>
      <img src="https://image.flaticon.com/icons/svg/2626/2626093.svg" alt="">
      {{#if user}}
      <a href="/private">Hi, {{user.name}}!</a>
      <a href="/">Search</a>
      <form action="/authentication/sign-out" method="POST">
        <button>Sign Out</button>
      </form>
      {{else}}
      <a href="/authentication/sign-in">Sign In</a>
      <a href="/authentication/sign-up">Sign Up</a>
      {{/if}}

      
    </nav> --}}

<nav class="navbar-expand-lg">

      <div class="container d-flex"> 
        <a class="navbar-brand" href="/">
        <img style="width:auto;height:1.5em"src="/images/Home/masterlara.png" alt="">
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav ml-auto align-items-center">
          {{#if user}}
          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/private">Hi, {{user.name}}!</a>
          </li>

          <li class="nav-item signout">
            <a class="nav-link" style="color:white" href="/">Search</a>
          </li>

           <li class="nav-item">
             <form class="signout" action="/authentication/sign-out" method="POST">
              <button class="signout">Sign Out</button>
            </form>
           </li>
          {{else }}

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-in">Sign In</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" style="color:white" href="/authentication/sign-up">Sign Up</a>
          </li>

          {{/if}}
        </ul>


      </div>
    </div>
      
  </nav>


    {{{body}}}
    <script src="/scripts/script.js"></script>
  </body>
</html>
