
<section class="container-fluid pt-5 px-5 recipe-top">
<div class="row pb-4 ml-2 font-weight-bold">
<a href="javascript:history.back()"><   Back</a>

</div>

  <div class="row">
    {{#with recipe}}

    <!--FIRST COLUMN-->
    <div class="col-lg-6">

      <!--
      <form action="/recipe/{{getID uri}}/recipebook" method="POST">
        <button>Add Recipe Book</button>
      </form>-->
     
     <form action="/recipe/{{getID uri}}/recipebook" method="POST">
     
{{#if ../user.isFavorite}}

{{!-- recipe that I like --}}
        <button class="imageLikeSingle">
          <img id="imageLike" src="/images/heart.png">
        </button>

{{else}}

{{!-- recipe that I don't like --}}
        <button class="imageLikeSingle">
          <img id="imageLike" src="/images/empty-heart.png">
        </button>

{{/if}}
 
     </form>
     
     
  
      
      <img class="rounded " src="{{image}}" alt="">
    </div><!--/COLUMN-->

     <!--FIRST COLUMN-->
    <div class="col-12 col-lg-6 mb-4">
      <h1>{{label}}</h1>

      <!--DESCRIPTION-->
      <div class="row mb-5">
        <div class="col-md pr-0">
          <p>Percentage: {{yield}} ARRRR</p>
        </div>

        <div class="col-md px-0">
          <p>Servings: {{yield}} people</p>
        </div>

        <div class="col-md px-0">
          <p>Calories: {{number calories}}kcal</p>
        </div>
      </div>
      <!--/DESCRIPTION-->

      <!--INGREDIENTS-->
      <div class="row">

        <div class="col-md-8">
          <h5>Ingredients</h5>
          <ul class="ingredients-list">
            {{#each ingredientsStorage}}<!--Ingredients - I have-->
              <li class="my-ingredients">{{this}}</li>
            {{/each}}

            {{#each ingredientLines}}<!--Ingredients - I dont have-->
              <li class="missing-ingredients">{{this}}</li> 
            {{/each}}
          </ul>
        </div><!--/INGREDIENTS-->

        <!--HEALTH INFOS-->
        <div class="col-md-4">
          <h5>Health info</h5>
            <ul class="ingredients-list">
              {{#each healthLabels}}
              <li>{{this}}</li> 
              {{/each}}
            </ul>
        </div><!--/HEALTH INFOS-->
        
      </div><!--/INGREDIENTS ROW-->
      
      <div class="d-flex justify-content-between align-items-center pt-3">
        <a class="full-recipe" href={{url}} target="_blank">View Full Recipe</a>
        {{!-- <div class="whatsapp-button d-flex align-content-center"> --}} 
          
          <a href="https://api.whatsapp.com/send?text=Let's%20cook%20{{label}}%20together?%20I%20have%20almost%20everything,%20you%20just%20need%20to%20bring:{{#each ingredientLines}},%20{{this}}%20{{/each}}%20%0Dxoxo!" id="whatsapp-share-btn" rel="nofollow" target="_blank"><img class="whatsapp-icon align-self-center" src="https://image.flaticon.com/icons/svg/2111/2111728.svg" alt="whatsapp icon"> Invite a friend via WhatsApp</a>
        {{!-- </div> --}}
      </div>
      

    </div><!--/COLUMN-->

    {{/with}}
  </div><!--/ROW-->
  
{{#with recipe}}

  {{!-- <form action="/recipe/{{getID uri}}/recipebook" method="POST">
    <button>Add Recipe Book</button>
  </form> --}}

  <h4 class="pt-5">Comments:</h4>
  <div class="row">
      {{>comment}}
  </div>
{{/with}}

</section>

<section class="container pt-5">
  
  {{#each comments}}
    {{> userComment}}
  {{/each}}
   
</section>

